html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #655c89;
    #text {
        width: 400px;
        margin: 0 auto;
        text-align: justify;
    }
    #arrow {
        height: 9px;
        width: 100px;
        color: black;
        position: fixed;
        top: 95%;
        left: 85%;
        cursor: pointer;
        &::before {
            content: 'TO TOP';
            padding: 5px 10px;
            border: 3px solid #544f6b;
            background-color: white;
            text-align: center;
        }
    }
    #tabs {
        width: 40%;
        margin: 50px auto;
        .tab {
            display: inline-block;
            padding: 15px 20px;
            cursor: pointer;
            position: relative;
            z-index: 2;
            background-color: #544f6b;
        }
        .open {
            background-color: white;
        }
        .content {
            width: 100%;
            height: 150px;
            position: relative;
            z-index: 1;
            padding: 50px;
            background-color: #544f6b;
            overflow: hidden;
            ;
        }
        .hidden {
            display: none;
        }
        .show {
            background-color: white;
            display: block;
        }
    }
    .menu {
        width: 40%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: px;
        .link {
            text-decoration: none;
            color: white;
            &:visited {
                color: white;
            }
            &:hover {
                color: black;
            }
        }
        .active {
            border-bottom: 1px solid #544f6b;
        }
    }
    .new {
        width: 10%;
        margin: 0 auto;
        height: 20px;
    }
}