html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #655c89;
}
html #text,
body #text {
  width: 400px;
  margin: 0 auto;
  text-align: justify;
}
html #arrow,
body #arrow {
  height: 9px;
  width: 100px;
  color: black;
  position: fixed;
  top: 95%;
  left: 85%;
  cursor: pointer;
}
html #arrow::before,
body #arrow::before {
  content: "TO TOP";
  padding: 5px 10px;
  border: 3px solid #544f6b;
  background-color: white;
  text-align: center;
}
html #tabs,
body #tabs {
  width: 40%;
  margin: 50px auto;
}
html #tabs .tab,
body #tabs .tab {
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background-color: #544f6b;
}
html #tabs .open,
body #tabs .open {
  background-color: white;
}
html #tabs .content,
body #tabs .content {
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 1;
  padding: 50px;
  background-color: #544f6b;
  overflow: hidden;
}
html #tabs .hidden,
body #tabs .hidden {
  display: none;
}
html #tabs .show,
body #tabs .show {
  background-color: white;
  display: block;
}
html .menu,
body .menu {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: px;
}
html .menu .link,
body .menu .link {
  text-decoration: none;
  color: white;
}
html .menu .link:visited,
body .menu .link:visited {
  color: white;
}
html .menu .link:hover,
body .menu .link:hover {
  color: black;
}
html .menu .active,
body .menu .active {
  border-bottom: 1px solid #544f6b;
}
html .new,
body .new {
  width: 10%;
  margin: 0 auto;
  height: 20px;
}/*# sourceMappingURL=style.css.map */